.section-container {
  width: 100%;
  min-height: 100vh;
  
}

.first-section {
  background: black;
}

.header {
  background: black;
  height: 70px;
  padding-top: 12px;
}

.image {
  height: 100%;
  margin-left: 24px;

}

.home-container {
  display: flex;
  justify-content: space-around;
  margin-top: 120px;
}

.father-text-div {
  background: transparent;
}


.son-text-div {
  background: transparent;
}

.slogan-div {
  text-align: left;
  width: 358px;
  max-width: 358px;
  align-self: flex-start;
}

.slogan-font {
  color: #99a1b2;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
}

.font {
  color: #fff;
  font-size: 69px;
  font-weight: 900;
  line-height: 110px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.column-div {
  background-color: #222732;
  width: 426px;
  height: 400px;
  border-radius: 20px;
}

.companies {

  background: black;
  display: flex;
  margin-top: 100px;
  flex-direction: column;
  align-items: center;
}



/* .son-companies {

  
} */

.tittle-sponsors {
  display: inline-block;
  position: relative;
  color: white;
  font-size: x-large;
  font-style: oblique;

}





/* CHEQUEAR CON NICO
/* @font-face {
  font-family: 'AudiType-Bold_03.ttf';
  src: url('/src/fuentes/audi/AudiType-Bold_03.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;

} */

.images-companies {


  background-color: black;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-bottom: 20px;
  align-items: center;
}


.sponsors {
  width: 70px;
  margin-left: 12px;
  margin-right: 12px;
  object-fit: contain;
}


.second-section {
  background: #0c0f16;
  display: flex;
  min-height: auto;
}

.section-identity {
  background: aliceblue;
  width: inherit;
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
  padding-bottom: 70px;
  border-radius: 16px;

}

.tittle-identity {

  color: #222732;
  font-size: 50px;
  font-weight: 900;
  line-height: 66px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
}

.presentation {

  display: flex;
  justify-content: space-around;
}

.presentation2 {

  display: flex;
  align-items: center;
  flex-direction: column;
}

.description {
  margin: 0 0 50px;
  display: flex;

}

.logo-medal {

  max-width: 12%;
  margin: auto;
}

.medal-tittle {

  color: #000;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 14px;
}

.medal-description {
  text-align: center;
  color: #222732;
  font-size: 16px;
  line-height: 27px;
  width: 300px;
  max-width: 300px;
}



.third-section {
  background: #0f141e;
  display: flex;
}

.principal-shops {

  width: inherit;
  margin: 50px;
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}

.tittle-shops {
  color: aliceblue;
  font-size: 50px;
  font-weight: 900;
  line-height: 66px;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 10px;
  display: flex;
  justify-content: center;


}

.shops {
  display: flex;
  justify-content: center;
  height: 100%;
  padding-top: 20px;
}

.city-shops {

  display: flex;
  justify-content: center;
  width: auto;
}

.individual-shops {
  display: flex;
  flex-direction: column;
  width: 270px;
  margin: 12px;

}

.subtitle-shops {

  color: aliceblue;
  font-weight: 800;
  font-size: 20px;
}

.maps {
  
  width: 100%;
  height: 250px;
  border-radius: 10px;
}

.sub-maps {
  display: flex;
  align-items: center;
  padding-top: 2px;
}

.data-maps {

  display: flex;
  flex-direction: column;
  margin-top: 16px;
}

.location {
  width: 32px;
  height: 33px;
}

.text-location {
  color: white;
  margin: 7px 0 0px 18px;
}

.maps-image {
  width: 100%;
  height: 100%;
  border-radius: 14px;
  display: block;
  position: relative;
  border-color: transparent;
  
}

.fourth-section {
  background: black;
  height: 1222px;
}

.structure {

  display: flex;
  flex-flow: row nowrap;
  height: 50%;
  
}

.internal-structure {
  width: 50%;
  display: flex;

}

.clean-img {
  width: 100%;
  height: 100%;
}

.tittle-structure {
  display: flex;
  padding: 0px 30px 17px 70px;
  height: 100%;
  width: 60%;
}

.content-structure {
    display: flex;
    width: 100%;
    align-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20%;
    margin-bottom: 20%;
}

.distribution-structure1 {

    display: flex;
    width: 100%;
    height: 36%;
}

.tittle-content {

  color: white;
  font-weight: 700;
  font-size: 42px;
  font-style: italic;
  
}
.distribution-structure2 {

  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  
}

.subtittle-content {

    display: flex;
    height: 40px;
    width: 50%;
}

.subtittle-text{
  color:white;
  font-size: 18px;
  font-weight: inherit;
  font-style: italic;
}

.tittle-structure {

  display: flex;
  padding: 0px 30px 17px 70px;
  height: 100%;
  width: 60%;
}

.distribution-structure3 {

  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 50px;
  margin-top: 50px;
  
}

.tittle-content2 {
  color: white;
  font-weight: 700;
  font-size: 42px;
  font-style: italic;
  max-width: 80%;
}

.last-description {
  color: white;
  font-size: medium;
  font-weight: 400;
}

